!= '---\n'
!= 'title: ' + pageTitle + '\n'
!= 'githubUrl: ' + project.githubURL + '\n'
!= 'layout: docs\n'
!= 'pageOrder: ' + pageOrder + '\n'
!=  '---\n'
#document
  - for (var i in segments)
    .segment
      - if (segments[i].markdownedComments != '')
        div(class="comments " + (segments[i].accessClasses || ''))
          .wrapper!= segments[i].markdownedComments

      - if (segments[i].highlightedCode != '')
        - if (segments[i].foldMarker != '')
          .code.folded
            .wrapper.marker
              span.c1!= segments[i].foldMarker
            .wrapper!= segments[i].highlightedCode
        - else
          .code
            .wrapper!= segments[i].highlightedCode
